* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-bar {
  position: fixed;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0px;
  background-color: #E900FF;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 2vw;
  z-index: 1;
  opacity: 75%;
  transition: all 0.5s ease-in-out;
}
.nav-bar:hover {
  opacity: 100%;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.nav-bar ul li {
  margin: 3vh;
}
.nav-bar ul li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px #FFC600;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #FFC600;
          text-decoration-color: #FFC600;
}

.website-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 98vh;
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

.place-holder {
  height: 100%;
  width: 50vw;
  background-color: #5800FF;
}

.home-container {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: row;
}
.home-container .home-headergroup {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: right;
  align-self: right;
  padding-right: 20px;
}
.home-container .home-headergroup h1 {
  font-size: 5vw;
  text-shadow: 5px 5px #5800FF;
}
.home-container .home-headergroup h2 {
  font-size: 3vw;
  text-shadow: 2px 2px #5800FF;
}

.testimonial-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.testimonial-container h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 5vw;
  text-shadow: 5px 5px #5800FF;
  margin-left: 20px;
}

.plan-container {
  height: 100%;
  width: 100vw;
}
.plan-container .plan-headergroup {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.plan-container .plan-headergroup h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 5vw;
  text-shadow: 5px 5px #5800FF;
  margin-left: 20px;
}
.plan-container .plan-headergroup h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin-left: 4vw;
  margin-top: 2vh;
}
.plan-container .plan-main {
  height: 20px;
  width: 100vw;
}
.plan-container .plan-main ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-top: 35vh;
}
.plan-container .plan-main ul li {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 3vw;
  padding: 30px;
  border-radius: 25px;
  background-color: #E900FF;
  box-shadow: 5px 5px #5800FF;
  text-shadow: 2px 2px #5800FF;
}
.plan-container .plan-main ul li:hover {
  cursor: pointer;
  text-shadow: 2px 2px #FFC600;
  box-shadow: 5px 5px #FFC600;
}

.contact-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.contact-container h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 5vw;
  text-shadow: 5px 5px #5800FF;
  margin-left: 20px;
}/*# sourceMappingURL=index.css.map */