* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.website-container {
  background-color: #000000;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
.hero-section .hero-photos {
  height: 100%;
  width: 50vw;
}
.hero-section .hero-photos .placeholder {
  height: 100%;
  width: 100%;
  background-color: #5800FF;
}
.hero-section .header-group {
  height: 100%;
  width: 50vw;
}
.hero-section .header-group .headers {
  margin-top: 40vh;
  margin-left: 20px;
}
.hero-section .header-group .headers h1 {
  font-size: 5vw;
  text-shadow: 3px 3px 5px #5800FF;
}
.hero-section .header-group .headers h2 {
  font-size: 2vw;
}
.hero-section .header-group .headers .book-now-button {
  background-color: #5800FF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.hero-section .header-group .headers .book-now-button:hover {
  background-color: #E900FF;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.testimonials-container {
  margin: 5vw;
  width: 90vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
.testimonials-container .testimonials-headers {
  text-align: center;
}
.testimonials-container .testimonials-headers h1 {
  font-size: 3vw;
  text-shadow: 3px 3px 5px #5800FF;
}
.testimonials-container .testimonial-inner-container {
  margin-top: 20px;
}
.testimonials-container .testimonial-inner-container .testimonial {
  background-color: #5800FF;
  color: #FFFFFF;
  width: 25vw;
  padding: 20px;
  border-radius: 25px;
}
.testimonials-container .testimonial-inner-container .testimonial:nth-child(odd) {
  margin-left: 60%;
}
.testimonials-container .testimonial-inner-container .testimonial:nth-child(even) {
  margin-left: 10%;
}

.levels-container {
  width: 100%;
  padding-bottom: 30vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
.levels-container .levels-header {
  text-align: center;
}
.levels-container .levels-header h1 {
  font-size: 3vw;
  text-shadow: 3px 3px 5px #5800FF;
}
.levels-container .levels-content-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.levels-container .levels-content-container .level-one-container,
.levels-container .levels-content-container .level-two-container,
.levels-container .levels-content-container .level-three-container {
  margin-top: 20px;
  min-width: 25vw;
  max-width: 30vw;
  background-color: #5800FF;
  background: linear-gradient(164deg, rgb(88, 0, 255) 40%, rgb(233, 0, 255) 100%);
  padding: 20px;
  border-radius: 25px;
}
.levels-container .levels-content-container .level-one-container h1,
.levels-container .levels-content-container .level-two-container h1,
.levels-container .levels-content-container .level-three-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.levels-container .levels-content-container .level-one-container h1:nth-child(3),
.levels-container .levels-content-container .level-two-container h1:nth-child(3),
.levels-container .levels-content-container .level-three-container h1:nth-child(3) {
  padding-top: 20px;
}
.levels-container .levels-content-container .level-one-container p a,
.levels-container .levels-content-container .level-two-container p a,
.levels-container .levels-content-container .level-three-container p a {
  color: #FFFFFF;
  -webkit-text-decoration-color: #FFC600;
          text-decoration-color: #FFC600;
  transition: ease-in-out 0.2s;
}
.levels-container .levels-content-container .level-one-container p a:hover,
.levels-container .levels-content-container .level-two-container p a:hover,
.levels-container .levels-content-container .level-three-container p a:hover {
  color: #FFC600;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
  transition: ease-in-out 0.2s;
}
.levels-container .levels-content-container .level-one-container ul,
.levels-container .levels-content-container .level-two-container ul,
.levels-container .levels-content-container .level-three-container ul {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.levels-container .levels-content-container .level-one-container ul li,
.levels-container .levels-content-container .level-two-container ul li,
.levels-container .levels-content-container .level-three-container ul li {
  padding-left: 0px;
}
.levels-container .levels-content-container .level-one-container ul li::marker,
.levels-container .levels-content-container .level-two-container ul li::marker,
.levels-container .levels-content-container .level-three-container ul li::marker {
  color: #FFC600;
}/*# sourceMappingURL=index.css.map */