* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

//60/30/10 rule for colours
$mainColour: #000000;
$mainAltColour: #FFFFFF;
$secondaryColour: #E900FF;
$accentOne: #5800FF;
$accentTwo: #FFC600;
$background-gradient: linear-gradient(164deg, rgba(88,0,255,1) 40%, rgba(233,0,255,1) 100%);

@mixin pageFont {
    font-family: Arial, Helvetica, sans-serif;
    color: $mainAltColour;
}

@mixin headers {
    font-size: 3vw;
    text-shadow: 3px 3px 5px #5800FF;
}

.website-container{
    background-color: $mainColour;
}

//hero-section
.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
    @include pageFont;
    .hero-photos{
        height: 100%;
        width: 50vw;
        .placeholder{
            height: 100%;
            width: 100%;
            background-color: $accentOne;
        }
    }
    .header-group{
        height: 100%;
        width: 50vw;
        .headers{
            margin-top: 40vh;
            margin-left: 20px;
            h1{
                font-size: 5vw;
                text-shadow: 3px 3px 5px #5800FF;
            }
            h2{
                font-size: 2vw;
            }
            .book-now-button{
                background-color: $accentOne;
                width: fit-content;
                margin-top: 10px;
                padding: 5px;
                border-radius: 10px;
                transition: ease-in-out 0.20s;
                a{
                    text-decoration: none;
                    color: $mainAltColour;
                }
                &:hover{
                    background-color: $secondaryColour;
                    cursor: pointer;
                    transition: ease-in-out 0.20s;
                }
            }
        }
    }
}

//testimonial section

.testimonials-container{
    margin: 5vw;
    width: 90vw;
    min-height: 100vh;
    @include pageFont;

    .testimonials-headers{
        text-align: center;
        h1{
            @include headers;
        }
    }

    .testimonial-inner-container{
        margin-top: 20px;
        .testimonial{
            background-color: $accentOne;
            color: #FFFFFF;
            width: 25vw;
            padding: 20px;
            border-radius: 25px;
            &:nth-child(odd){
                margin-left: 60%;
            }
            &:nth-child(even){
                margin-left: 10%;
            }
        }
    }
}

//Levels Container

.levels-container{
    width: 100%;
    padding-bottom: 10vh;
    @include pageFont;
    .levels-header{
        text-align: center;
        h1{
            @include headers;
        }
    }
    .levels-content-container{
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        .level-one-container, 
        .level-two-container, 
        .level-three-container{
            margin-top: 20px;
            min-width: 25vw;
            max-width: 30vw;
            background-color: $accentOne;
            background: $background-gradient;
            padding: 20px;
            border-radius: 25px;
            h1{
                text-align: center;
                margin-bottom: 20px;
                &:nth-child(3){
                    padding-top: 20px;
                }
            }
            p{
                a{
                    color: $mainAltColour;
                    text-decoration-color: $accentTwo;
                    transition: ease-in-out 0.20s;
                    &:hover{
                        color: $accentTwo;
                        text-decoration-color: $mainAltColour;
                        transition: ease-in-out 0.20s;
                    }
                }
            }
            ul{
                margin-left:20px;
                display: flex;
                justify-content: space-around;
                gap: 30px;
                flex-wrap: wrap;
                li{
                    padding-left: 0px;
                    &::marker{
                        color: $accentTwo;
                    }
                }
            }
        }
    }
}

//Contact form container

.contact-form-container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $background-gradient;
    h1{
        @include headers;
        @include pageFont;
    }
    .contact-form{
        width: 50vw;
        height: 1500px;
    }
}

footer{
    width: 100%;
    height: 15vh;
}