* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

//60/30/10 rule for colours
$mainColour: #000000;
$secondaryColour: #E900FF;
$accentOne: #5800FF;
$accentTwo: #FFC600;

@mixin pageFont {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

@mixin headers {
    font-size: 5vw;
    text-shadow: 5px 5px $accentOne;
}


.nav-bar {
    position: fixed;
    width: 100vw;
    height: fit-content;
    bottom: 0px;
    background-color: $secondaryColour;
    @include pageFont();
    font-size: 2vw;
    z-index: 1;
    opacity: 75%;
    transition: all 0.5s ease-in-out;

    &:hover{
        opacity: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;

        li{
            margin:  3vh;

            a{
                width: fit-content;
                color: #FFFF;
                text-decoration: none;
                text-shadow: 1px 1px $accentTwo;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    text-decoration-color: $accentTwo;
                }
            }
        }
    }
}

.website-container{
    width: max-content;
    height: 98vh;
    display: flex;
    flex-direction: row;
    background-color: $mainColour;
}

.place-holder {
    height: 100%;
    width: 50vw;
    background-color: $accentOne;
}

.home-container{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: row;
    .home-headergroup {
        @include pageFont();
        text-align: right;
        align-self: right;
        padding-right: 20px;
        h1 {
            @include headers();
        }
        h2 {
            font-size: 3vw;
            text-shadow: 2px 2px $accentOne;
        }
    }
}

.testimonial-container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    h1 {
        @include pageFont();
        @include headers();
        margin-left: 20px;
    }
}

.plan-container{
    height: 100%;
    width: 100vw;
    .plan-headergroup{
        display: flex;
        height: fit-content;
        width: 100%;
        h1 {
            @include pageFont();
            @include headers();
            margin-left: 20px;
        }
        h2 {
            @include pageFont();
            margin-left: 4vw;
            margin-top: 2vh;
        }
    }
    .plan-main{
        height: 20px;
        width: 100vw;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-around;
            margin-top: 20%;
            li{
                @include pageFont();
                font-size: 3vw;
                padding: 30px;
                border-radius: 25px;
                background-color: $secondaryColour;
                box-shadow: 5px 5px $accentOne;
                text-shadow: 2px 2px $accentOne;

                &:hover{
                    cursor: pointer;
                    text-shadow: 2px 2px $accentTwo;
                    box-shadow: 5px 5px $accentTwo;
                }
            }
        }
    }

}

.contact-container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    h1 {
        @include pageFont();
        @include headers();
        margin-left: 20px;
    }
}

